<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="codes.fabio.animemuzei">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.WAKE_LOCK"/>

  <application
      android:name=".AnimeMuzeiApplication"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      tools:ignore="AllowBackup,GoogleAppIndexingWarning">
    <service
        android:name=".RemoteSourceService"
        android:label="@string/app_name"
        android:description="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:enabled="true"
        android:exported="true"
        tools:ignore="ExportedService">
      <intent-filter>
        <action
            android:name="com.google.android.apps.muzei.api.MuzeiArtSource"/>
      </intent-filter>
      <meta-data
          android:name="color"
          android:value="#00796B"/>
      <meta-data
          android:name="settingsActivity"
          android:value=".settings.SettingsActivity" />
    </service>

    <activity android:name=".settings.SettingsActivity"
        android:launchMode="singleTop"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
  </application>

</manifest>